@mixin primaryBtn {
    background-color: $primaryColor;
    color: $primaryColor-light;
    min-height: 2.6rem;
    width: 15%;
    border: 0;
    border-radius: $borderRadius;
    outline: none;
  
    &:hover,
    &:disabled {
      background-color: $secondaryColor;
      color: $primaryColor;
    }
    
    &:not(:disabled):not(.disabled):active {
      background-color: $primaryColor;
      color: $secondaryColor;
    }
  }
  
  @mixin normalLink {
    color: $primaryColor;
    &:hover {
      color: $primaryColor;
    }
  }