@mixin primaryBtn {
    background-color: $primaryColor;
    color: $primaryColor-light;
    border: 0;
    border-radius: $borderRadius;
    outline: none;
  
    &:hover,
    &:disabled {
      background-color: $secondaryColor;
      color: $primaryColor;
      border-color: $secondaryColor;
    }
    
    &:not(:disabled):not(.disabled):active,
    &:focus {
      background-color: $primaryColor;
      color: $secondaryColor;
    }
  }

  @mixin secondaryBtn {
    background-color: transparent;
    color: $primaryColor-light;
    border: 1px solid $primaryColor-light;
    border-radius: $borderRadius;
    outline: none;
  
    &:hover,
    &:disabled,
    &:focus,
    &:not(:disabled):not(.disabled):active {
      background-color: $primaryColor-light;
      border-color: $primaryColor-light;
      color: $primaryColor;
      outline: none;
    }
  } 