/* Colors */
$primaryColor: rgb(27, 59, 70);
$secondaryColor: rgb(235, 221, 212);
$accentColor: #f23a3c;
$tertiaryColor: rgba(255, 254, 252, 0.6);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
$mainFontFamily: 'Josefin Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
$secondaryFontFamily: 'Libre Baskerville', serif;

$borderRadius: 4px;
